body {
    background-color: #f2f3f5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card {
    max-width:360px;
    width: 90%;
    margin:40px auto; /* 卡片和页面边缘的距离 */
    padding: 30px 20px; /* 卡片和内容区域的距离 */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.2s;
}


img {
    width: 120px;
    border-radius:50%;
    margin-top: 30px;
}

h1 {
    margin-top: 20px;
    color: #333;
}

p {
    color:#666;
    font-size:14px;
}

a {
    display: inline-block;
    width: 100px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #409eff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition:background-color 0.2s, transform 0.2s; /* hover时不是“突变”，而是平滑过渡，transition是“补帧”*/
}


.card img {
    margin-top: 0;
}

.card h1 {
    margin-bottom: 10px;
}

.card p {
    line-height:1.6;
}


/* a: 正常状态
   a:hover：特殊状态
   CSS可以针对【状态】写样式 */

a:hover {
    background-color: #66b1ff;
    transform: translateY(-2px); /* 按钮hover时会轻微上移 */
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.096);
    transform:translateY(-4px) ;
}

@media (max-width:480px) {
    body {
        background-color: #e9eaec;
    }

    .card {
        padding: 24px 16px;
    }

    h1 {
        font-size: 20px;
    }
}